@model InventoryApp.Models.Product

@{
    ViewData["Title"] = "Create Product";
}
<h1>Create Product</h1>
<form asp-action="Create">
    <div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="QuantityInStock"></label>
        <input asp-for="QuantityInStock" class="form-control" />
        <span asp-validation-for="QuantityInStock" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PurchasePrice"></label>
        <input asp-for="PurchasePrice" class="form-control" />
        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SellPrice"></label>
        <input asp-for="SellPrice" class="form-control" />
        <span asp-validation-for="SellPrice" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Save</button> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}