@{
    ViewData["Title"] = "Signup Page";
    Layout = "_LayoutAuth";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

    <div class="login-header">
        <p>Please sign up to join us.</p>
    </div>
    <div class="login-form-container">
        <form>
        <label for="email" class="form-label">Email:</label>
        <input class="form-control" type='email' placeholder="Enter your Email" />
        <label for="password" class="form-label">Password:</label>
        <input class="form-control" type='password' placeholder="Enter your password" />
        <label for="password" class="form-label">Confirm Password:</label>
        <input class="form-control" type='password' placeholder="Confirm your password" />
        <button class="login-button">Signup</button>
        <
        </form>
    </div>
    <div class="signup-link">
        <p>Already have an account?</p>
        <a asp-action="Login" asp-controller="Auth">Login Now</a>
    </div>
