@model InventoryApp.ViewModels.SignupViewModel;
@{
    ViewData["Title"] = "Signup Page";
    Layout = "_LayoutAuth";
}
@section Styles {
    <link rel="stylesheet" href="~/css/login.css" />
}

<div class="login-header">
    <p>Please sign up to join us.</p>
</div>
<div class="login-form-container">
    <form method="post" action="@Url.Action("Signup", "Auth")">
        <div>
            <label asp-for="Name" class="form-label">Name:</label>
            <input class="form-control" asp-for="Name" type='text' placeholder="Enter your Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Email" class="form-label">Email:</label>
            <input class="form-control" type='email' placeholder="Enter your Email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password" class="form-label">Password:</label>
            <input class="form-control" type='password' placeholder="Enter your password" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password:</label>
            <input class="form-control" type='password' placeholder="Confirm your password" asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button class="login-button">Signup</button>
    </form>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }

</div>
<div class="signup-link">
    <p>Already have an account?</p>
    <a asp-action="Login" asp-controller="Auth">Login Now</a>
</div>
