@{
    ViewData["Title"] = "Dashboard Page";
    Layout = "_Layout";
}
@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
}

<div class="dashboard">
    <div class="title">holy shit pit</div>
    <p>guluuuuuu</p>
</div>